# Game Sales
Luke Tao (lyt5), Euna Lee (ekl49), Vinny Huang (vh222)

In [50]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split

sales = pd.read_csv('video_games_sales.csv')
scores = pd.read_csv('top_video_games.csv')

# clean scores to match with sales
sales = sales.convert_dtypes()
scores = scores.convert_dtypes()
scores.drop(['release_date', 'summary'], inplace=True, axis=1)
scores['platform'] = scores['platform'].map({
  ' PC' : 'PC',
  ' Nintendo 64' : 'N64',
  ' GameCube' : 'GC',
  ' Game Boy' : 'GB',
  ' Game Boy Color' : 'GBC',
  ' Game Boy Advance' : 'GBA',
  ' Switch' : 'Switch',
  ' DS' : 'DS',
  ' 3DS' : '3DS',
  ' Wii' : 'Wii',
  ' Wii U' : 'WiiU',
  ' PSP' : 'PSP',
  ' PlayStation Vita' : 'PSV',
  ' PlayStation' : 'PS',
  ' PlayStation 2' : 'PS2',
  ' PlayStation 3' : 'PS3', 
  ' PlayStation 4' : 'PS4', 
  ' PlayStation 5' : 'PS5', 
  ' Dreamcast' : 'DC', 
  ' Xbox' : 'XB', 
  ' Xbox 360' : 'X360', 
  ' Xbox One' : 'XOne',
  ' Xbox Series X' : 'XSX',
}).fillna(scores['platform'])

df = pd.merge(sales, scores, on=['name', 'platform'], how='left')
df.head()

,rank,name,platform,year,genre,publisher,na_sales,eu_sales,jp_sales,other_sales,global_sales,meta_score,user_review
0,1,Wii Sports,Wii,2006,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74,76,8.1
1,2,Super Mario Bros.,NES,1985,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24,<NA>,<NA>
2,3,Mario Kart Wii,Wii,2008,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82,82,8.4
3,4,Wii Sports Resort,Wii,2009,Sports,Nintendo,15.75,11.01,3.28,2.96,33.0,80,8.2
4,5,Pokemon Red/Pokemon Blue,GB,1996,Role-Playing,Nintendo,11.27,8.89,10.22,1.0,31.37,<NA>,<NA>